services:
  app:
    build: .
    ports:
      - "3001:3000"
    environment:
      - DATABASE_HOST=postgres
      - DATABASE_PORT=5432
      - DATABASE_USERNAME=postgres
      - DATABASE_PASSWORD=password
      - DATABASE_NAME=lab16
    depends_on:
      - postgres

  postgres:
    image: postgres:13
    environment:
      - POSTGRES_DB=lab16
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    # УБИРАЕМ ports полностью - БД будет доступна только внутри Docker сети
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: